.main-cards{
    margin: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

:root {
    --circle-foreground: #1e407c;
    --circle-background: #c3d5e2;
}
.circle {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: var(--circle-background);
    overflow: hidden;
}
.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 115px;
    height: 115px;
    background: white;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 1000;
    color:#001E44;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: inherit;
    color: inherit;
}