@use '../../scss/abstracts/' as *;

.summary-box {
    @include flex(stretch, flex-start);

    &__chart {
        width: 40%;


    }

    &__info {
        width: 60%;
        @include flex(flex-start, space-between);
        flex-direction: column;

        &__title {
            font-size: $fontSizeMedium;
            font-weight: 700;
            line-height: 1.2;

            span {
                font-size: 13px;
                font-weight: 400;
            }
        }


    }
}

.summary-box-special {
    @include flex(center, space-between);
    flex-direction: column;
    height: 100%;



    &__value {
        font-size: $fontSizeLarge;
        font-weight: 700;
    }
}